@model IEnumerable<Entity_Layer.TVacunasBO>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_VACUNA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_VACUNA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_VACUNA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_VACUNA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Update", new {  ID_VACUNA=item.ID_VACUNA  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
